mixin javascriptIncludeTag(path, type)
  - type = type || 'text/javascript'
  script(src="#{javascriptsBase}/#{path}.js", type="#{type}")

mixin stylesheetLinkTag(path, media)
  - ver = Date.now()
  link(href="#{stylesheetsBase}/#{path}.css?v=#{ver}", media="#{media}", rel="stylesheet", type="text/css")

mixin imageIncludeTag(path, cssClasses, attrs)
  - cssClasses = cssClasses || ''
  - attrs = attrs || {} //&attributes({ name:'foo', value:'bar', foo:'bad' })
  img(src="#{imagesBase}/#{path}", class="#{cssClasses}")&attributes(attrs)
    
mixin prettyPrint()
  pre.prettyprint
    code
      block

    
