mixin streamItem(title, activityAction, sourceClass)
  li.activity-item.clj--activity-item(class=sourceClass)
    a.activity-item__link.clj--activity-item__link.func--activity-item__link(href="#")
      .activity-item__avatar
        span.avatar__initials.clj--avatar__initials !C
      h2.activity-item__action
        span.activity-item__action__text.clj--activity-item__action.func--activity-item__action #{activityAction}
        time.activity-item__time.clj--activity-item__time(datetime="10:32") !2 minutes ago
      h3.activity-item__title.clj--activity-item__title.func--activity-item__title !#{title}

mixin feedItemChild(feedName, isOn)
  li.feed-item-child
    label.feed-item-child__name(for="#{feedName}") #{feedName}
      input.feed-item-child__checkbox(type="checkbox", id="#{feedName}", name="#{feedName}", value="feedname", checked=isOn)

mixin feedItem(feedName, isOn)
  li.feed-item.clj--feed-item
    label.feed-item__label.clj--feed-item__label.func--feed-item__label(for="#{feedName}")
      span.feed-item__name.clj--feed-item__name #{feedName}
      input.feed-item__checkbox.clj--feed-item__checkbox.func--feed-item__checkbox(type="checkbox", id="#{feedName}", name="#{feedName}", value="true", checked=isOn)
    if block
      ul.feed-item__children-list
        block